<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472328531781-thig3904746tt921t3c1n4vhogrdhtcq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472328531781-thig3904746tt921t3c1n4vhogrdhtcq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>472328531781-v6aeu1d29qijl3fbla4ib8um7ul8o7pj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBNYa2rvMkSgHeWkqLQNt7ECEnRXMFB7lU</string>
	<key>GCM_SENDER_ID</key>
	<string>472328531781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.aiwriter</string>
	<key>PROJECT_ID</key>
	<string>xyzaiassistant</string>
	<key>STORAGE_BUCKET</key>
	<string>xyzaiassistant.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472328531781:ios:eee8e4eb1662e764d4182c</string>
</dict>
</plist>